page {
  height: 100%;
  background-color: #f6f6f6;
}

#skin-red {
  --primary-color: #FA6400;

  /* tabBar 主题图标 */

  .mm-tab-bar__item.active {
    .img-home {
      background-image: url("./assets/tabbar/home-icon-active-red.png");
    }

    .img-mine {
      background-image: url("./assets/tabbar/mine-icon-active-red.png");
    }
  }

  .home-banner {
    background-image: url("./assets/common/banner-red.png");
  }

  .product-hot-icon {
    background-image: url("./assets/common/hot-red.png");
  }
}

#skin-blue {
  --primary-color: #0091FF;

  /* tabBar 主题图标 */

  .mm-tab-bar__item.active {
    .img-home {
      background-image: url("./assets/tabbar/home-icon-active-blue.png");
    }

    .img-mine {
      background-image: url("./assets/tabbar/mine-icon-active-blue.png");
    }
  }

  .home-banner {
    background-image: url("./assets/common/banner-blue.png");
  }

  .product-hot-icon {
    background-image: url("./assets/common/hot-blue.png");
  }
}

.color {
  color: var(--primary-color)
}

.page-view {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.page-scroll {
  height: 100%;
  overflow: hidden;
}


.address-manager {
  box-sizing: border-box;
  width: 100%;
  padding: 50px 30px;

  &--submit {
    background-image: linear-gradient(0deg, #FA6400 0%, #FF9100 100%);
    box-shadow: inset 3px 3px 5px 0 #FA6400;
    width: 100%;
    height: 90px;
    text-align: center;
    line-height: 90px;
    color: #fff;
    border-radius: 45px;
  }
}
